body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Text color */
}

.container {
    position: relative; /* Set container as relative positioning */
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.logo,
.logo2 {
    background-color: #000; /* Set background color to black */
    padding: 5px; /* Add some padding for better visibility */
}

.logo img,
.logo2 img {
    display: block;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
    height: auto;
}

.logo2 {
    position: absolute; /* Position logo2 absolutely within container */
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    width: 50px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

h1, h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #444; /* Input background color */
    color: #fff; /* Input text color */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Hover state background color */
}

/* Additional styling can be added as needed */
